.container {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


.text-3xl {
  font-size: 1.875rem;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.font-semibold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.my-7 {
  margin: 1.75rem 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.sm\\:flex-row {
  flex-direction: row;
}

.gap-4 {
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

.border {
  border: 1px solid #ccc;
}

.p-3 {
  padding: 0.75rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border-gray-300 {
  border-color: #ccc;
}

.font-normal {
  font-weight: 400;
}

.text-gray-700 {
  color: #4a5568;
}

.ml-2 {
  margin-left: 0.5rem;
}

.gap-6 {
  gap: 1.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.text-green-700 {
  color: #38a169;
}

.border-green-700 {
  border-color: #38a169;
}

.uppercase {
  text-transform: uppercase;
}

.hover\\:shadow-lg:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.disabled\\:opacity-80:disabled {
  opacity: 0.8;
}

.text-red-700 {
  color: #e53e3e;
}

.text-sm {
  font-size: 0.875rem;
}

.p-3 {
  padding: 0.75rem;
}

.bg-slate-700 {
  background-color: #2d3748;
}

.text-white {
  color: #fff;
}

.hover\\:opacity-95:hover {
  opacity: 0.95;
}

.w-full {
  width: 100%;
}

.w-5 {
  width: 1.25rem;
}

.object-contain {
  object-fit: contain;
}

.hover\\:opacity-75:hover {
  opacity: 0.75;
}

.rounded {
  border-radius: 0.5rem;
}

/* Hide input box focus */
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
