.container {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container h1{
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}